@media only screen and (max-width: 1200px) {
  .navbar .navigation {
    gap: 3rem;
  }

  .services .card h2 {
    font-size: 5.2rem;
  }

  .grid-4x4 {
    grid-template-columns: repeat(4, 10rem);
    grid-gap: 1.5rem;
  }

  .grid-4x4 .item {
    height: 10rem;
  }

  .contact-form .fields {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar .navigation {
    gap: 2rem;
  }

  .services .card h2 {
    font-size: 4.2rem;
  }

  .grid-4x4 {
    grid-template-columns: repeat(4, 8rem);
    grid-gap: 1rem;
  }

  .grid-4x4 .item {
    height: 8rem;
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 991px) {
  .app {
    padding-top: 8rem;
  }

  .spacer.lg {
    min-height: 5rem;
  }

  .navbar {
    height: 8rem;
  }

  .navbar .brand a {
    font-size: 0;
  }

  .navbar .navigation {
    gap: 1.5rem;
  }

  .hero-section {
    min-height: calc(100vh - 8rem);
  }

  .hero-section .legend h2 {
    font-size: 2.6rem;
  }

  .grid-4x4 {
    grid-template-columns: repeat(4, 7rem);
  }

  .grid-4x4 .item {
    height: 7rem;
    font-size: 2.4rem;
  }

  .contact-form .fields {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .app {
    padding-top: 6rem;
  }

  .hamburger {
    display: block;
  }

  .navbar {
    height: 6rem;
    padding-right: 4rem;
  }

  .navbar .brand a {
    font-size: 2rem;
  }

  .navbar .navigation {
    position: fixed;
    top: -1rem;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    min-width: 20rem;
    width: auto;
    padding: 1.5rem;
    background: var(--glass);
    border-radius: 1.5rem;
    transform: translateY(-100%);
    transform-origin: top;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-duration: 500ms;
    z-index: 998;
  }

  .navbar .navigation.active {
    top: 6rem;
    transform: translateY(0);
  }

  .navbar .navigation li a {
    font-size: 1.4rem;
  }

  .navbar .navigation li.active::before,
  .navbar .navigation li:hover::before {
    transform: scaleX(0);
  }

  .hero-section {
    min-height: calc(100vh - 6rem);
  }

  .hero-section .legend {
    padding-left: 1rem;
  }

  .hero-section .legend h2 {
    font-size: 2.6rem;
  }

  .hero-section .wrapper,
  .hero-section .banner-info {
    width: 100%;
    padding: 0;
  }

  .hero-section .banner-info {
    justify-content: center;
    margin-top: 5rem;
  }

  .hero-section .scroll {
    display: none;
  }

  .grid-4x4 {
    grid-template-columns: repeat(4, 6rem);
  }

  .grid-4x4 .item {
    height: 6rem;
    font-size: 2rem;
  }

  .accordian .accordian-header .header-contents h4 {
    font-size: 1.6rem;
  }

  .about .grid-1x2 {
    grid-template-columns: 1fr;
  }

  .edu-and-exp h4 {
    font-size: 1.6rem;
  }

  .edu-and-exp .block {
    padding-left: 2.5rem;
  }

  .edu-and-exp .block > .row {
    padding: 1.5rem;
  }

  .grid-1x3 {
    grid-gap: 1rem;
  }

  .projects .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .contact-form .field {
    margin-bottom: 1.5rem;
  }

  .services .card .inner {
    padding: 2rem;
  }

  .contact-form .fields {
    margin-bottom: 1rem;
  }

  .contact-info {
    margin-top: 2rem;
  }

  .contact-info .card h4 {
    font-size: 2rem;
  }

  .contact-info .card {
    padding: 1.5rem;
  }

  .footer a {
    justify-content: center;
  }

  .footer .footer-inner {
    flex-wrap: wrap;
  }

  .footer .footer-inner .panel {
    width: 100%;
    text-align: center;
  }

  .scroll {
    height: 3.5rem;
    width: 3.5rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero-section .legend h2 {
    font-size: 2rem;
  }

  .grid-1x2,
  .projects .grid {
    grid-template-columns: 1fr;
  }
}
